.button {
  font-size: 1.1rem;
  font-weight: bold;
}

.primary {
  padding: 8px;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
}

.secondary {
  padding: 4px 24px;
  border-color: #00bc77;
  background-color: white;
  color: #00bc77;
}

.fill {
  width: 100%;
}
