.page-index {
  .hero {
    background-image: url("./assets/images/bank-tree.jpeg");
    background-position: 0 -50px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    position: relative;

    .hero-content {
      box-sizing: content-box;
      position: relative;
      top: 2rem;
      width: 200px;
      background: white;
      padding: 2rem;
      text-align: left;
      margin: 0 auto;

      .subtitle {
        font-weight: bold;
        font-size: 1rem;
        margin: 0;
      }
      .text {
        margin-bottom: 0;
        font-size: 0.9rem;
      }
    }
  }

  @media (min-width: 920px) {
    .hero {
      height: 400px;
      background-position: 0% 33%;

      .hero-content {
        box-sizing: content-box;
        position: absolute;
        top: 50px;
        right: 50px;
        width: 300px;
        margin: 2rem;

        .subtitle {
          font-size: 1.5rem;
        }

        .text {
          font-size: 1.2rem;
        }
      }
    }
  }

  .features {
    display: flex;
    flex-direction: column;

    .feature-item {
      flex: 1;
      padding: 2.5rem;

      h3 {
        color: #222;
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }

      img {
        width: 100px;
        border: 10px solid #00bc77;
        border-radius: 50%;
        padding: 1rem;
      }
    }
  }

  @media (min-width: 920px) {
    .features {
      flex-direction: row;
    }
  }
}

/// SIGN IN
.page-sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .sign-in-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 2rem;
    row-gap: 1em;

    form {
      display: flex;
      flex-direction: column;
      row-gap: 1em;

      .input-remember {
        display: flex;
        column-gap: 0.25em;
      }
    }
  }
}

/// USER
.page-user {
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin-bottom: 2rem;
    row-gap: 1.2em;
    padding: 1.2em;

    h1 {
      text-align: center;
    }
  }
}
